# Dependencies
/node_modules

# Build artifacts
/dist
/build
/.output
/.vite

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE specific files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env*.local
.env.*.local
!/.env.example
!/.env.sample

# Operating System files
.DS_Store
Thumbs.db

# TypeScript cache
*.tsbuildinfo

# Test coverage
/coverage